.button_icon_simple {
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-size: contain;
  opacity: 0.7;
}
.button_icon_simple:active {
  opacity: 0.5;
}
.button_icon_simple:hover {
  opacity: 1;
}
.result a.section_id {
  float: right;
}
.result > div {
  margin-bottom: 2em;
}
.result #row_detail label {
  margin: 0;
}
.result #row_detail .line-tittle-wrap .info_value {
  display: inline-block;
  margin-left: 0.5em;
}
.result #types99 {
  margin-top: 1em;
}
.result #types99 .term_line {
  background-color: #f8556c;
  width: 100%;
}
.result #types99 > .type_row {
  display: table;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
.result #types99 > .type_row > span {
  padding-right: 1em;
}
.result #types99 > .type_row .equivalents {
  display: block;
}
.result #types99 .ts_numismatic_group {
  padding-left: 1em;
  cursor: pointer;
}
.result #types99 .ts_period {
  cursor: pointer;
  margin-top: 1em;
  font-weight: 600;
}
.result #types99 .arrow {
  background: url(../../assets/images/arrow.svg) no-repeat bottom left;
  background-size: contain;
  display: inline-block;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  width: 25px;
  height: 25px;
  margin-left: 1em;
  vertical-align: middle;
}
.result #types99 .types_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 2em;
}
.result #types99 .types_container .row_node {
  padding-left: 2em;
}
.result #types99 .types_container .type_wrap {
  width: 32%;
  padding: 1em;
}
@media screen and (max-width: 980px) {
  .result #types99 .types_container .type_wrap {
    width: 50%;
  }
}
@media screen and (max-width: 736px) {
  .result #types99 .types_container .type_wrap {
    width: 100%;
  }
}
.result #types99 .types_container .type_wrap .type_info {
  font-size: 72%;
  margin: 0;
}
@media screen and (max-width: 980px) {
  .result #types99 .types_container .type_wrap .type_info {
    font-size: 90%;
  }
}
@media screen and (max-width: 736px) {
  .result #types99 .types_container .type_wrap .type_info {
    font-size: 120%;
  }
}
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 736px) {
  .result #types99 .types_container .type_wrap .info_wrap a {
    font-size: 100% !important ;
  }
}
.result #types99 .types_container .type_wrap img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
}
.result #types99 .types_container .type_wrap .type_number p {
  margin: 0;
  height: 2em;
}
.result #types99 .types_container .type_wrap .type_number .type_label {
  border: none;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}
@media screen and (max-width: 980px) {
  .result #types99 .types_container .type_wrap .type_number .type_label {
    font-size: 90%;
  }
}
@media screen and (max-width: 736px) {
  .result #types99 .types_container .type_wrap .type_number .type_label {
    font-size: 120%;
  }
}
.result #types99 .types_container .type_wrap .type_number .subType_label {
  border: none;
  border-top: 1px solid #e3e3e3;
  display: block;
  height: 2em;
}
@media screen and (max-width: 980px) {
  .result #types99 .types_container .type_wrap .type_number .subType_label {
    font-size: 90%;
  }
}
@media screen and (max-width: 736px) {
  .result #types99 .types_container .type_wrap .type_number .subType_label {
    font-size: 120%;
  }
}
.result #types99 .types_container .type_wrap .type_number .subType_number {
  margin-left: -1em;
  margin-right: -1em;
  padding-left: 1em;
}
.result #types99 .types_container .type_wrap:nth-child(3n) {
  border-right: none;
}
.result #types .info_line.separator {
  margin-bottom: 1.25em;
}
.result #types .item_wrapper {
  padding-left: 2em;
}
.result #types .item_wrapper .term_line {
  padding-left: 1em;
}
.result #types .item_wrapper .type_group {
  width: 100%;
}
.result #types .item_wrapper .ts_period {
  font-weight: 600;
}
.result #types .item_wrapper .bold {
  font-weight: 600;
}
.result #types .item_wrapper .unit {
  display: -ms-inline-grid;
  display: inline-grid;
  width: 33.33%;
}
.result #types .item_wrapper .type_wrap {
  width: 100%;
  padding: 1em;
  padding-top: 0;
  display: -ms-grid;
  display: grid;
}
.result #types .item_wrapper .type_wrap .type_number {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.result #types .item_wrapper .type_wrap .type_number > a {
  font-weight: 600;
}
.result #types .item_wrapper .type_wrap .type_number > a .keyword {
  font-weight: 300;
}
.result #types .item_wrapper .type_wrap .type_label {
  border: none;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}
@media screen and (max-width: 980px) {
  .result #types .item_wrapper .type_wrap .type_label {
    font-size: 90%;
  }
}
@media screen and (max-width: 736px) {
  .result #types .item_wrapper .type_wrap .type_label {
    font-size: 120%;
  }
}
.result #types .item_wrapper .type_wrap img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 50%;
  height: 100%;
  height: 8.25em;
}
@media screen and (max-width: 980px) {
  .result #types .item_wrapper .type_wrap img {
    width: 100%;
    height: 100%;
  }
}
.result #types .item_wrapper .type_wrap .type_info {
  font-size: 72%;
  margin: 0;
  text-align: center;
}
.result #types .item_wrapper .type_wrap .types_img {
  margin: auto;
}
@media screen and (max-width: 980px) {
  .result #types .item_wrapper .type_wrap .types_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}
@media screen and (max-width: 980px) {
  .result #types .item_wrapper .type_wrap .types_img .image_link {
    width: 100%;
  }
}
.result #types .item_wrapper .type_wrap .legend_box img {
  max-height: 1em;
  width: auto;
}
.print-info {
  visibility: hidden;
  display: none;
}
@media print {
  #main {
    width: 98% !important;
    margin-top: 8mm !important;
  }
  .print-info {
    visibility: visible;
    display: inherit;
  }
  .inner > h1,
  .form,
  nav {
    display: none !important;
  }
  #header {
    padding: 0 !important;
  }
  #footer,
  #header,
  #export_data {
    display: none;
  }
  .bibliographic_reference {
    font-size: 12px !important;
    margin-top: 0.5em !important;
  }
  .icon_link {
    font-size: 10px !important;
  }
  .line-tittle-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .line-tittle-wrap .info_value {
    font-size: 14px;
    text-align: center;
  }
  .line-tittle-wrap .info_value::first-letter {
    font-size: 0px !important;
  }
  .line-tittle {
    font-size: 25px !important;
    text-align: center;
    color: black !important;
  }
  #map_container {
    page-break-before: always;
    max-height: 40vh;
  }
  #wrapper {
    font-size: 60%;
    color: black !important;
  }
  a {
    color: black !important;
  }
  .term {
    color: black !important;
  }
  .coins_images {
    width: 10vw;
  }
  .type_container {
    display: -ms-inline-grid !important;
    display: inline-grid !important;
    -ms-grid-columns: auto 40% !important;
    grid-template-columns: auto 40% !important;
    -ms-grid-rows: auto auto !important;
    grid-template-rows: auto auto !important;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .type_container > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .type_container > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .type_container > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .type_container > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  @page {
    size: 210mm 297mm;
  }
  .inner {
    max-width: 100% !important;
    font-family: "Times New Roman", Times, serif !important;
  }
  .inner .contracted-block {
    max-height: 10000px !important;
  }
  .inner .info_text_block {
    font-size: 14px !important;
  }
  .inner .ts_period {
    font-size: 120% !important;
    padding-left: 0 !important;
  }
  .inner .text-block-separator {
    display: none;
  }
  .inner .item_wrapper {
    padding-left: 0 !important;
  }
  .inner .item_wrapper .type_group {
    font-size: 120% !important;
  }
  .inner .item_wrapper .container {
    padding-left: 1em;
  }
  .inner .item_wrapper .unit {
    padding-left: 1em !important;
  }
  .inner .item_wrapper .unit {
    font-size: 150% !important;
    width: 100% !important;
    margin-bottom: 1em;
  }
  .inner .item_wrapper .unit .type_wrap {
    font-size: 13px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1em auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: (auto)[6];
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 1em;
    border-bottom: 1px solid #ddd;
    padding: 0 !important;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(10) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(11) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  .inner .item_wrapper .unit .type_wrap > *:nth-child(12) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }
  .inner .item_wrapper .unit .type_number {
    white-space: normal !important;
  }
  .inner .item_wrapper .unit .type_info {
    font-size: 84% !important;
  }
  .inner .item_wrapper .unit .types_img {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 5;
    grid-row-end: 6;
    text-align: right;
    margin: inherit !important;
  }
  .inner .item_wrapper .unit .info_wrap {
    -ms-grid-row: 2;
        grid-row-start: 2;
  }
  .inner .item_wrapper .unit .info_wrap .type_info {
    text-align: left !important;
  }
  .inner .item_wrapper .unit .design-info {
    display: inline-block;
    text-align: left !important;
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .inner .item_wrapper .unit .sides-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  .inner .item_wrapper .unit .legend-info {
    display: inline-block;
    text-align: left;
    line-height: inherit;
    margin-left: 1em;
    font-size: 11px !important;
  }
  .inner .item_wrapper .unit .equivalents {
    -ms-grid-row: 5;
        grid-row-start: 5;
    text-align: left !important;
    font-size: 60% !important;
  }
  .inner .item_wrapper .unit .coins-info {
    font-size: 65%;
    text-align: right;
    color: #888 !important;
    margin: 0 !important;
    -ms-grid-column: 2;
        grid-column-start: 2;
  }
  .inner .item_wrapper .unit .public-info {
    font-size: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-row: 6;
        grid-row-start: 6;
  }
  .inner .item_wrapper .unit .public-info img {
    line-height: 1em;
    display: inline;
    width: 1em !important;
    height: 2em !important;
    margin: 0 1em;
  }
}
