{
  "globals": {
     // Put things like jQuery, etc
    "jQuery": true,
    "$": true,
    "Promise": true
  },
  "env": {
    "es6": true,
    // I write for browser
    "browser": true,
    // in CommonJS
    "node": true
  },
  // To give you an idea how to override rule options:
  "rules": {
    // Rules
    // "quotes": ["error", "single", {
    //   "avoidEscape": true,
    //   "allowTemplateLiterals": true
    // }],
    "semicolon": 0,
    "no-unused-vars" : 2,
    "no-undef" : 2
  },
   "ecmaFeatures": {
      "modules": true,
      "spread" : true,
      "restParams" : true
  },
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module"
  }
}
/*jshint esversion: 6 */