config.php
config.*
!sample.config.php
config.codekit3
prepros.config
.codekit-cache
*codekit*
acc
.DS_Store
*.sublime-workspace
.phpintel
*_OLD.*
*_old.*
*_DES
config
# images
library.less
page.css
logo_head*
default.jpg
uni_val_hist.png
LogoMuseoNegroValencia.png
logo_mciu.jpg
logo_mib_marron.svg
logo_render_bn.png
logo-inc.svg
!app-min.js.map
!app-min.js
# node
node_modules
package.json
package-lock.json
!analysis-min.js
!analysis-min.js.map
vars.less
vars.css

