.button_icon_simple {
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-size: contain;
  opacity: 0.7;
}
.button_icon_simple:active {
  opacity: 0.5;
}
.button_icon_simple:hover {
  opacity: 1;
}
/*
	#wrapper {

		height: 100vh;

	}
	*/
form {
  overflow-x: initial;
}
section.result {
  min-height: 25vh;
  padding-top: 2em;
  position: relative;
}
section.result .spinner_svg {
  position: absolute;
  top: 3em;
  z-index: 99999999;
}
.line_value {
  display: flex;
  line-height: 1em;
  padding-top: 5px;
  padding-left: 10px;
}
.line_value i {
  color: #BFBFBF;
  cursor: pointer;
  align-self: center;
}
.line_value i:hover {
  color: #E31A0A;
}
.line_value .value_label {
  pointer-events: none;
  border: none;
  margin-left: 5px;
  width: 100%;
  align-self: center;
  text-overflow: ellipsis;
  background-color: transparent;
  font-size: 0.85em;
}
.line_value .value_label img {
  vertical-align: middle;
  height: 1em;
}
.line_value input.input_values {
  pointer-events: none;
  border: none;
  margin-left: 5px;
  width: 100%;
  align-self: center;
  text-overflow: ellipsis;
  background-color: transparent;
  display: none;
}
.row_wrapper {
  margin-bottom: 1em;
  border-bottom: 1px solid #dedede;
  padding-bottom: 1em;
}
.row_wrapper h2 {
  padding-bottom: 0;
  margin-bottom: 0;
  display: inline-block;
}
.row_wrapper img.svg {
  vertical-align: middle;
}
.row_wrapper div,
.row_wrapper h1 {
  font-family: cambria;
  font-size: 1.1em;
  font-weight: 100;
  line-height: 1.4;
}
.row_wrapper .name {
  font-variant: small-caps;
  letter-spacing: 1px;
}
.row_wrapper .name > * {
  display: inline-block;
  padding-right: 1em;
}
.row_wrapper .name > .section_id {
  float: right;
  padding-right: 0;
}
.row_wrapper .italic {
  font-style: italic;
}
.row_wrapper .grey {
  color: #8C8C8C;
}
.row_wrapper .blue {
  color: #497FC2;
}
.row_wrapper .row_title {
  display: flex;
  flex-wrap: wrap;
}
.row_wrapper .row_title .pdf {
  margin-left: 0.5em;
}
.row_wrapper .row_title .pdf:after {
  content: " ";
  height: 100%;
  width: 1em;
  background-image: url("../../assets/images/file-pdf-o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  cursor: pointer;
}
.row_wrapper .row_body {
  display: flex;
  flex-wrap: wrap;
}
.row_wrapper .row_url {
  display: flex;
  flex-wrap: wrap;
}
.row_wrapper .row_url a.url_data {
  color: #497FC2;
}
.row_wrapper .row_url .separator {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.children_contanier {
  margin-left: 2em;
}
#rows_list > .children_contanier {
  margin-left: 0;
}
.row_node {
  border-top: 1px solid #ddd;
}
.row_node:first-child {
  border-top: none;
}
.form-inline .form-row.fields {
  margin-bottom: 1.25em;
  margin-top: 0.25em;
}
.form-inline .form-row {
  display: flex;
  flex-wrap: wrap;
}
.form-inline .form-row .form-group {
  flex: 0 1 25%;
  align-self: baseline;
  padding-top: 0.5em;
}
@media screen and (max-width: 736px) {
  .form-inline .form-row .form-group {
    flex: 1 1 50%;
  }
}
.form-inline .form-row .form-group.global_search {
  flex: 0 1 100%;
}
.form-inline .form-row .form-group.field_operators {
  padding: 0;
}
.form-inline .form-row .operators {
  padding-right: 2em;
}
.form-inline .button_submit {
  display: inline-block;
}
.form-inline .form-group.field_operators {
  float: right;
  text-align: right;
  margin-right: -2.5em;
}
.term {
  font-weight: 500;
}
.term .keyword {
  font-weight: 300;
  margin: 0;
}
span {
  margin-right: 1em;
}
.ref_type_averages_weight,
.ref_type_averages_diameter {
  margin-right: 0.5em;
  font-size: 16px;
}
.ref_type_total_weight_items,
.ref_type_total_diameter_items {
  font-size: 16px;
}
.mint {
  display: inline-block;
  font-size: 1.4em;
  font-weight: 600;
  font-variant-caps: small-caps;
  cursor: pointer;
  letter-spacing: 0.05em;
}
.link_mint {
  margin-left: 1em;
}
.link_mint:before {
  content: " ";
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
  background-image: url("../../assets/images/icon_link_color.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.descriptions {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto;
  font-size: 14px;
}
.ref_type_equivalents {
  font-size: 0.6em;
  grid-column-start: 1;
  grid-row-start: 2;
}
.collection_auction {
  font-size: 0.6em;
  grid-column-start: 2;
  grid-row-start: 2;
  display: inline-flex;
}
.ref_type_design_obverse {
  grid-column-start: 1;
  grid-row-start: 1;
}
.ref_type_symbol_obverse {
  grid-column-start: 1;
  grid-row-start: 2;
}
.ref_type_symbol_obverse img {
  height: 1.2em;
  vertical-align: middle;
}
.legend_obverse {
  grid-column-start: 1;
  grid-row-start: 3;
}
.legend_obverse img {
  height: 1.2em;
  vertical-align: middle;
}
.ref_type_design_reverse {
  grid-column-start: 2;
  grid-row-start: 1;
}
.ref_type_design_reverse img {
  height: 1.2em;
  vertical-align: middle;
}
.ref_type_symbol_reverse {
  grid-column-start: 2;
  grid-row-start: 2;
}
.ref_type_symbol_reverse img {
  height: 1.2em;
  vertical-align: middle;
}
.legend_reverse {
  grid-column-start: 2;
  grid-row-start: 3;
  display: grid;
}
.legend_reverse img {
  height: 1.2em;
  vertical-align: middle;
}
.coins_images {
  display: inline-grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  justify-content: center;
}
.coins_images_container {
  grid-column-start: 2;
  grid-row-start: 1;
  justify-items: center;
  align-items: center;
  justify-content: center;
  display: grid;
}
.image_obverse {
  max-width: 100%;
  height: auto;
}
.image_reverse {
  max-width: 100%;
  height: auto;
}
.type_container {
  display: inline-grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: auto auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
.types {
  display: grid;
  page-break-inside: avoid;
}
.pagination.bottom {
  margin-top: 3em;
}
.ui-menu .ui-menu-item {
  padding-left: 0;
  width: 100%;
  display: flex;
}
.ui-menu .ui-menu-item-wrapper {
  width: 100%;
  border: none !important;
  margin: 0 !important;
  line-height: 1.4em;
  font-size: 1em;
}
.ui-menu .ui-menu-item-wrapper img {
  vertical-align: middle;
  height: 1em;
}
.ui-widget.ui-widget-content {
  background-color: #f9f9f9;
  border: none !important;
}
@media print {
  .inner > h1,
  .form,
  nav {
    display: none !important;
  }
  #header {
    padding: 0 !important;
  }
}
/*# sourceMappingURL=catalog.css.map */