// Variables
	@assets_path: "../../assets";
	@fonts_path: "@{assets_path}/fonts";
	@page_path : "../../page";

// Usage library
	@import "@{page_path}/css/library.less";




// map
	.map_container.map {
		// defined in page.map_common.less
		height: 50vh;
		margin-bottom: 0;
	}

	
// rows_list
	.rows_list {
		padding-top: 0;
		min-height: 50vh;
		// background-color: #a8f5ca;


		.line-tittle {
			margin-left: 0 !important;

			span.note {
				color: #bebebe;
				text-transform: uppercase;
				margin-right: unset;
			}
		}
	}