.button_icon_simple {
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-size: contain;
  opacity: 0.7;
}
.button_icon_simple:active {
  opacity: 0.5;
}
.button_icon_simple:hover {
  opacity: 1;
}
/*
	#wrapper {

		height: 100vh;

	}
	*/
section.result {
  min-height: 70vh;
}
.line_value {
  display: flex;
  line-height: 1em;
  padding-top: 5px;
  padding-left: 10px;
}
.line_value i {
  color: #BFBFBF;
  cursor: pointer;
  align-self: center;
}
.line_value i:hover {
  color: #E31A0A;
}
.line_value input.input_values {
  pointer-events: none;
  border: none;
  margin-left: 5px;
  width: 100%;
  align-self: center;
  text-overflow: ellipsis;
  background-color: transparent;
  display: block;
}
.biblio_row_wrapper {
  margin-bottom: 0.3em;
  border-bottom: 1px solid #dedede;
  padding-bottom: 0.3em;
}
.biblio_row_wrapper div,
.biblio_row_wrapper h1 {
  font-family: cambria;
  font-weight: 100;
  line-height: 1.4;
}
.biblio_row_wrapper .author {
  font-variant: small-caps;
  letter-spacing: 1px;
}
.biblio_row_wrapper .author > * {
  display: inline-block;
  padding-right: 1em;
}
.biblio_row_wrapper .author > .section_id {
  float: right;
  padding-right: 0;
}
.biblio_row_wrapper .italic {
  font-style: italic;
}
.biblio_row_wrapper .grey {
  color: #8C8C8C;
}
.biblio_row_wrapper .row_title {
  display: flex;
  flex-wrap: wrap;
  white-space: break-spaces;
}
.biblio_row_wrapper .row_title .pdf {
  margin-left: 0.5em;
}
.biblio_row_wrapper .row_title .pdf:after {
  content: " ";
  height: 100%;
  width: 1em;
  background-image: url("../../assets/images/file-pdf-o.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  cursor: pointer;
}
.biblio_row_wrapper .row_body {
  display: flex;
  flex-wrap: wrap;
  white-space: break-spaces;
}
.biblio_row_wrapper .row_url {
  display: flex;
  flex-wrap: wrap;
}
.biblio_row_wrapper .row_url .separator {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.biblio_row_wrapper .descriptors a:last-child {
  border: none;
}
.biblio_row_wrapper .descriptors a:first-child {
  padding-left: 0;
}
.biblio_row_wrapper a.descriptors_link {
  display: inline-block;
  padding: 0.35em;
  padding-bottom: 0;
  padding-top: 0;
  margin: 0.25em;
  margin-left: 0;
  color: #be875a !important;
  /* border-radius: 3px; */
  border-right: 1px solid #be875a;
  font-size: 0.8em;
  border-bottom: none;
  font-variant: small-caps;
}
.biblio_row_wrapper .transcription br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}
.biblio_row_wrapper .transcription mark {
  background-color: #333333;
  color: white;
  padding-left: 0.15em;
  padding-right: 0.15em;
  border-radius: 3px;
}
.biblio_row_wrapper .transcription .occurrence {
  background-color: #faf7f3;
  padding: 1em;
  border-radius: 8px;
  margin-top: 0.25em;
}
.biblio_row_wrapper .transcription .occurrence .page_number {
  font-weight: 300;
  color: #b7996d;
}
.biblio_row_wrapper .transcription .occurrence .item_transcription {
  font-size: 0.85em;
}
.form-inline .form-row {
  display: flex;
  flex-wrap: wrap;
}
.form-inline .form-row .form-group {
  flex: 0 1 33.33%;
  align-self: baseline;
}
.form-inline .form-row .form-group.field_operators {
  flex: 1 1 33.33%;
}
.form-inline .form-row .form-group.field_submit {
  flex: 0 0 100%;
}
.form-inline .form-row .operators {
  padding-right: 2em;
}
.pagination.bottom {
  margin-top: 3em;
}
.ui-menu .ui-menu-item {
  padding-left: 0;
  width: 100%;
  display: flex;
}
.ui-menu .ui-menu-item-wrapper {
  width: 100%;
  border: none !important;
  margin: 0 !important;
}
.ui-widget.ui-widget-content {
  background-color: #f9f9f9;
  border: none !important;
}
/*# sourceMappingURL=biblio.css.map */