.button_icon_simple {
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-size: contain;
  opacity: 0.7;
}
.button_icon_simple:active {
  opacity: 0.5;
}
.button_icon_simple:hover {
  opacity: 1;
}
/**
* FORM
* Common forms css across all site.
* Use the specific template to override or add specific features
*/
form {
  overflow-x: initial;
}
.form-group {
  position: relative;
}
span.form_input_label {
  position: absolute;
  font-size: 14px;
  top: 4px;
  left: 0;
  opacity: 0.7;
}
.search_operators_info {
  position: absolute;
  top: 1.5em;
  right: 0;
  z-index: 2;
  background-image: url('../../assets/images/icon_info2.svg');
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-size: contain;
  opacity: 0.7;
}
.search_operators_info:active {
  opacity: 0.5;
}
.search_operators_info:hover {
  opacity: 1;
}
.full_text_search_operators_info {
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: white;
  color: #3f3f3f;
  outline: 1px solid #eeeeee;
  background-color: #fafafa;
  font-size: 0.75em;
  box-shadow: 4px 3px 7px #d3d3d3;
  position: absolute;
  z-index: 9;
  width: auto;
}
.full_text_search_operators_info > * {
  padding: 0.25em;
  padding-left: 0.85em;
  padding-right: 0.85em;
}
.full_text_search_operators_info > .op {
  text-align: center;
}
.full_text_search_operators_info > :nth-of-type(1),
.full_text_search_operators_info > :nth-of-type(2) {
  background-color: #3f3f3f;
  color: white;
}
.line_value {
  display: flex;
  line-height: 1em;
  padding-top: 5px;
  padding-left: 10px;
}
.line_value i {
  color: #BFBFBF;
  cursor: pointer;
  align-self: center;
}
.line_value i:hover {
  color: #E31A0A;
}
.line_value .value_label {
  pointer-events: none;
  border: none;
  margin-left: 5px;
  width: 100%;
  align-self: center;
  background-color: transparent;
  font-size: 0.85em;
}
.line_value .value_label img {
  vertical-align: middle;
  height: 1em;
}
.line_value input.input_values {
  pointer-events: none;
  border: none;
  margin-left: 5px;
  width: 100%;
  align-self: center;
  text-overflow: ellipsis;
  background-color: transparent;
  display: none;
}
.form-inline .form-row.fields {
  margin-bottom: 1.25em;
  margin-top: 0.25em;
}
.form-inline .form-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0;
}
.form-inline .form-row .form-group {
  flex: 0 1 25%;
  align-self: baseline;
  padding: 0;
  padding-top: 0.5em;
  padding-right: 1em;
}
@media screen and (max-width: 736px) {
  .form-inline .form-row .form-group {
    flex: 1 1 50%;
  }
}
.form-inline .form-row .form-group.global_search {
  flex: 0 1 100%;
}
.form-inline .form-row .form-group.field_operators {
  padding: 0;
}
.form-inline .form-row .operators {
  padding-right: 2em;
}
.form-inline .button_submit {
  display: inline-block;
}
.form-inline .form-group.field_operators {
  float: right;
  text-align: right;
}
.form-inline .form-group.field_operators .operators {
  margin-right: 1em;
}
.form-inline .range_slider {
  padding-left: 1em;
  padding-right: 1em;
}
.form-inline .range_slider .range_slider_labels {
  display: flex;
  justify-content: space-between;
  height: 2em;
  line-height: 1em;
}
.form-inline .range_slider .range_slider_labels .range_slider_label {
  width: auto;
  text-align: center;
}
.form-inline .range_slider .range_slider_labels input.range_slider_value {
  width: 3em;
  height: 2em;
  text-align: center;
}
.form-inline .range_slider .ui-slider-handle {
  margin-top: 4px;
  height: 23px;
}
.ui-menu .ui-menu-item {
  padding-left: 0;
  width: 100%;
  display: flex;
}
.ui-menu .ui-menu-item-wrapper {
  width: 100%;
  border: none !important;
  margin: 0 !important;
  line-height: 1.4em;
  font-size: 1em;
}
.ui-menu .ui-menu-item-wrapper img {
  vertical-align: middle;
  height: 1em;
}
.ui-widget.ui-widget-content {
  background-color: #f9f9f9;
  border: none !important;
  z-index: 9999;
}
/**
* FORM
* Common forms css across all site.
* Use the specific template to override or add specific features
*/
.map {
  position: relative;
  height: 75vh;
  font-size: 1rem;
  margin-bottom: 3em;
  background-color: #b1c9e2;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  transition: opacity 0.5s ease-in-out 0.5s;
}
.map .map_legend {
  display: flex;
  position: absolute;
  left: 0;
  bottom: -1px;
  z-index: 999;
  background-color: rgb(255 255 255 / 78%);
  padding: 0.5em;
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  line-height: 1em;
  border-top-right-radius: 0.25em;
}
.map .map_legend .legend_item {
  font-size: 0.95em;
  margin-right: 0.5em;
}
.map .map_legend .legend_item:last-of-type {
  margin-right: 0;
}
.map .map_legend .legend_item img {
  height: 1em;
  vertical-align: bottom;
  margin-left: 2px;
}
.map .leaflet-container {
  height: 100%;
  width: 100%;
}
.map .leaflet-container > .map_container {
  height: 100%;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content {
  max-height: calc(75vh - 8em);
  overflow-y: auto;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content > .popup_wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.25em;
  z-index: 9999999;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content > .popup_wrapper > div.popup_item {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: start;
  align-content: start;
  text-align: center;
  width: 12em;
  margin: 0;
  margin-bottom: 0.5em;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content > .popup_wrapper > div.popup_item > div.image_wrapper {
  height: 7.5em;
  cursor: pointer;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content > .popup_wrapper > div.popup_item > div.image_wrapper:active {
  opacity: 0.5;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content > .popup_wrapper > div.popup_item > div.image_wrapper > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content > .popup_wrapper > div.popup_item > div.image_wrapper > img.loaded {
  opacity: 1;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content > .popup_wrapper > div.popup_item > div.text_title {
  display: block;
  position: relative;
  height: 100%;
  min-height: 56px;
  width: 100%;
  padding: 0.5em;
  font-size: 15px;
  cursor: default;
}
.map .leaflet-container .leaflet-popup--XXXX > .leaflet-popup-content-wrapper > .leaflet-popup-content > .popup_wrapper .more_node {
  margin-top: 0.5em;
}
.map .leaflet-container .mycluster {
  background-color: #fefefe96;
  text-align: center;
  padding: 1em;
  border-radius: 20px;
  color: black;
  font-weight: 600;
  box-shadow: 3px 3px 2px 0px #ababab;
  backdrop-filter: blur(10px);
}
.map_container.leaflet-container .leaflet-control-layers-toggle {
  background-image: url("../../assets/images/map/layers.png");
  width: 36px;
  height: 36px;
}
.map_container.leaflet-container .leaflet-retina .leaflet-control-layers-toggle {
  background-image: url("../../assets/images/map/layers-2x.png");
  background-size: 26px 26px;
}
.popup_item > .text_title {
  font-size: 1.15em;
  padding-bottom: 0.5em;
  font-weight: 500;
}
.popup_item > .text_description {
  max-height: 14em;
  overflow-y: auto;
  padding-right: 0.5em;
}
.popup_item .note {
  display: block;
  color: #aeaeae;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/**
* COINS LIST UNIFIED STYLES
*/
.coins_list {
  display: flex;
  flex-wrap: wrap;
  /*.sorted_coin:nth-child(3n){
	// .sorted_coin:last-child(3n)  {
		border-right: none;
	}*/
}
.coins_list .sorted_coin:last-child {
  border-right: none;
}
.coins_list .sorted_coin {
  width: 33.33%;
  margin-bottom: 0.5em;
  font-size: 80%;
  border-right: 1px solid #e3e3e3;
  padding: 0.5em;
  border-radius: 4px;
}
@media screen and (min-width: 1680px) {
  .coins_list .sorted_coin .uri-text a {
    font-size: 90%;
  }
}
@media screen and (max-width: 976px) {
  .coins_list .sorted_coin .uri-text a {
    font-size: 1.4vw;
  }
}
@media screen and (max-width: 710px) {
  .coins_list .sorted_coin .uri-text a {
    font-size: 1.8vw;
  }
}
@media screen and (max-width: 590px) {
  .coins_list .sorted_coin .uri-text a {
    font-size: 3vw;
  }
}
.coins_list .sorted_coin .images_wrapper {
  margin-bottom: 0.5em;
  position: relative;
}
.coins_list .sorted_coin .images_wrapper img {
  width: 50%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  background-color: white;
}
@media screen and (max-width: 976px) {
  .coins_list .sorted_coin {
    width: 48% !important;
  }
}
@media screen and (max-width: 590px) {
  .coins_list .sorted_coin {
    flex: inherit;
    width: 95% !important;
    border-right: none;
    margin-top: 1em;
  }
}
.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination > * {
  flex: 2;
}
.pagination > .navigator {
  display: -moz-inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  list-style: none;
  margin: 0 0 2rem 2px;
  padding: 0;
}
.pagination > .navigator a,
.pagination > .navigator span,
.pagination > .navigator li {
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: solid 1px #cecbcb;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 900;
  height: 3rem;
  letter-spacing: 0.075em;
  line-height: calc(3rem - 4px);
  min-width: 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .pagination > .navigator a,
  .pagination > .navigator span,
  .pagination > .navigator li {
    font-size: 0.9rem;
  }
}
.pagination > .navigator a,
.pagination > .navigator li {
  color: #212931 !important;
}
.pagination > .navigator a:hover,
.pagination > .navigator li:hover {
  color: #0e71b4 !important;
  border-color: #0e71b4;
  z-index: 1;
}
.pagination > .navigator a:hover + a,
.pagination > .navigator a:hover + span {
  border-left-color: #0e71b4;
}
.pagination > .navigator a.selected {
  background-color: #eeeeee;
}
@media screen and (max-width: 625px) {
  .pagination > .navigator a.selected {
    display: inline;
  }
}
.pagination > .navigator a.unactive,
.pagination > .navigator li.unactive {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.pagination > .navigator span {
  color: #eeeeee;
}
.pagination > .navigator .next,
.pagination > .navigator .previous {
  text-decoration: none;
  padding: 0 1.75rem;
}
@media screen and (max-width: 980px) {
  .pagination > .navigator .next,
  .pagination > .navigator .previous {
    font-size: 0;
    padding: 0;
  }
}
@media screen and (max-width: 625px) {
  .pagination > .navigator .page {
    display: none;
  }
}
@media screen and (max-width: 736px) {
  .pagination > .navigator .page {
    width: 5vw;
    min-width: auto;
  }
}
.pagination > .navigator .next:after,
.pagination > .navigator .previous:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  display: inline !important;
  color: inherit !important;
}
@media screen and (max-width: 980px) {
  .pagination > .navigator .next:after,
  .pagination > .navigator .previous:before {
    font-size: 2vw;
  }
}
.pagination > .navigator .previous:before {
  content: '\f104';
  margin-right: 0.9375em;
}
@media screen and (max-width: 980px) {
  .pagination > .navigator .previous:before {
    margin-right: 0;
  }
}
.pagination > .navigator .next:after {
  content: '\f105';
  margin-left: 0.9375em;
}
@media screen and (max-width: 980px) {
  .pagination > .navigator .next:after {
    margin-left: 0;
  }
}
.pagination > .spacer {
  flex: 1 1;
}
.pagination > .totals {
  text-align: right;
  padding: 0.25em;
}
.poptrox-overlay {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.poptrox-popup {
  background: rgba(31, 34, 36, 0.925);
  box-shadow: 0 1em 3em 0.5em rgba(0, 0, 0, 0.25);
  cursor: default;
}
.poptrox-popup:before {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
}
.poptrox-popup .closer {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: url("../../assets/images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3em;
  width: 4em;
  height: 4em;
  opacity: 0;
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  z-index: 2;
}
.poptrox-popup .nav-previous,
.poptrox-popup .nav-next {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: url("../../assets/images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5em;
  cursor: pointer;
  height: 8em;
  margin-top: -4em;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 4em;
  z-index: 2;
}
.poptrox-popup .nav-previous {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 0;
}
.poptrox-popup .nav-next {
  right: 0;
}
.poptrox-popup .caption {
  padding: 2em 2em 0.1em 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  bottom: 0;
  cursor: default;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 2;
  background-color: #000000d9;
  color: #ffffff;
  max-height: 4.8em;
  overflow: auto;
}
.poptrox-popup .caption h2,
.poptrox-popup .caption h3,
.poptrox-popup .caption h4,
.poptrox-popup .caption h5,
.poptrox-popup .caption h6 {
  margin: 0 0 0.5em 0;
}
.poptrox-popup .caption p {
  color: #ffffff;
}
.poptrox-popup .loader {
  -moz-animation: spinner 1s infinite linear !important;
  -webkit-animation: spinner 1s infinite linear !important;
  -ms-animation: spinner 1s infinite linear !important;
  animation: spinner 1s infinite linear !important;
  background-image: url("../../assets/images/spinner_2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 2em;
  height: 2em;
  left: 50%;
  line-height: 2em;
  margin: -1em 0 0 -1em;
  opacity: 0.25;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 2em;
}
.poptrox-popup:hover .closer,
.poptrox-popup:hover .nav-previous,
.poptrox-popup:hover .nav-next {
  opacity: 0.7;
  background-color: #2424248f;
}
.poptrox-popup:hover .closer:hover,
.poptrox-popup:hover .nav-previous:hover,
.poptrox-popup:hover .nav-next:hover {
  opacity: 1;
}
.poptrox-popup.loading:before {
  opacity: 0;
}
body.touch .poptrox-popup .closer,
body.touch .poptrox-popup .nav-previous,
body.touch .poptrox-popup .nav-next {
  opacity: 1 !important;
}
@media screen and (max-width: 980px) {
  .poptrox-popup .closer {
    background-size: 3em;
  }
  .poptrox-popup .nav-previous,
  .poptrox-popup .nav-next {
    background-size: 4em;
  }
}
@media screen and (max-width: 736px) {
  .poptrox-popup:before {
    display: none;
  }
  .poptrox-popup .caption {
    display: none !important;
  }
  .poptrox-popup .closer,
  .poptrox-popup .nav-previous,
  .poptrox-popup .nav-next {
    display: none !important;
  }
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
.font_logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.065em;
}
body {
  font-family: Helvetica Neue;
  letter-spacing: 0.5px;
  font-weight: 200;
}
.content p strong {
  font-size: 1.25em;
}
p img.svg {
  vertical-align: middle;
}
nav ul {
  margin: 0;
}
.loading {
  opacity: 0.4 !important;
}
.spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90px;
  width: 90px;
  margin: -45px 0 0 -45px;
  border: 7px transparent solid;
  border-top: 7px #b7996d solid;
  border-right: 7px #b7996d solid;
  border-bottom: 7px #b7996d solid;
  border-radius: 50%;
  -webkit-animation: spin3 1.25s infinite linear;
  animation: spin3 1.25s infinite linear;
}
.spinner.small {
  border: 4px transparent solid;
  border-top: 4px #b7996d solid;
  border-right: 4px #b7996d solid;
  border-bottom: 4px #b7996d solid;
  height: 30px;
  width: 30px;
  top: 86%;
  left: 73px;
}
@-webkit-keyframes spin3 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin3 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
#menu .lang_globe {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1em;
  cursor: pointer;
  padding-top: 2.75em;
  padding-right: 2em;
}
#menu > .inner > .page_lang_selector {
  padding-top: 0.5em;
  padding-right: 1em;
}
#menu > .inner > .page_lang_selector .selected {
  font-weight: 600;
  cursor: default;
  opacity: 1;
  pointer-events: none;
  color: #b7996d;
}
#wrapper {
  background: white;
  background-image: url('../../assets/images/overlay_white.png');
}
#wrapper #main {
  min-height: 80vh;
}
@media screen and (max-width: 736px) {
  #wrapper #main {
    display: contents;
  }
}
#wrapper .active-pointer {
  cursor: pointer;
}
#wrapper .underline-text {
  border-bottom: dotted 1px rgba(190, 135, 90, 0.5);
}
.pic {
  width: 100%;
}
.golden-color {
  color: #be875a;
}
#header .pre_alert {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 60px 0 0;
  border-color: #ff0000 transparent transparent transparent;
}
#header .pre_alert:before {
  content: "PRE";
  font-size: 14px;
  color: white;
  position: absolute;
  top: -53px;
  left: 7px;
  transform: rotate(316deg);
  font-weight: 500;
}
#header > .head_inner > div.logo_big {
  text-align: center;
  margin-bottom: 1.8em;
  padding-top: 1.8em;
}
#header > .head_inner > div.logo_big img {
  height: 23em;
}
#header > .head_inner > a.logo {
  border-bottom: #b93b3b 4px solid;
  background-color: #333333;
  background-image: url("../../assets/images/horse_logo.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: 80% 5%;
  margin: 0;
}
#header > .head_inner > a.logo > .symbol {
  display: flex;
  align-items: center;
  padding: 0.75em;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}
#header > .head_inner > a.logo > .symbol > img {
  height: 5em;
}
#header > .head_inner > a.logo > .symbol > .title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.065em;
  font-size: 2.25em;
  color: #B7996D;
  padding-left: 0.5em;
}
@media screen and (max-width: 736px) {
  #header > .head_inner > a.logo > .symbol > .title {
    font-size: 7vw !important;
  }
}
@media screen and (max-width: 520px) {
  #header > .head_inner > a.logo > .symbol > .title {
    width: 50%;
    text-align: left;
    line-height: 1em;
  }
}
@media screen and (max-width: 736px) {
  #header > .head_inner > a.logo > .symbol {
    width: 95%;
  }
}
#header nav {
  right: 10%;
  display: inline-block;
}
@media screen and (min-width: 1280px) {
  #header nav {
    right: 12vw;
  }
}
@media screen and (max-width: 736px) {
  #header nav {
    top: 2em;
  }
}
#header nav .logo {
  margin: 0;
}
#header .header_warning {
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}
#header .header_warning > img {
  height: 1.2em;
  margin: 0.5em;
}
#header .header_warning > span {
  font-size: 0.9em;
  font-weight: 400;
  color: #aaa;
  padding: 0.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#header .symbol img {
  height: 6em !important;
}
#header .symbol .title {
  font-size: 3em !important;
  text-shadow: -2px -2px 0 #333333, 2px -2px 0 #333333, -2px 2px 0 #333333, 2px 2px 0 #333333;
}
@media screen and (max-width: 736px) {
  #header {
    padding-top: 0;
  }
}
#main {
  display: table;
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 736px) {
  #main {
    width: 95%;
  }
}
#main .inner .bibliographic_reference {
  margin-top: 1em;
  font-size: 13px;
  line-height: 19px;
}
#main .inner .identify_coin_wrapper {
  margin-top: 1em;
  float: inherit;
  display: flex;
}
#main .inner > h1,
#main .inner > .main_container > h1 {
  font-variant: small-caps;
  color: #4c4430;
  letter-spacing: 0.05em;
  font-weight: 100;
  font-size: 2.8em;
  margin-bottom: 0em;
}
#main .inner .info_line.separator {
  margin-top: 1em;
  border-bottom: solid 1px #b7996d;
}
#main .inner .info_line.separator .big_label {
  margin-top: 1.5em;
}
#main .inner .info_line.hallazgos_monetarios {
  margin-top: 1em;
  border-bottom: solid 1px #a33e1f;
}
#main .inner .items_list {
  margin-top: 2em;
}
#main .inner .findspots {
  margin-top: 1em;
}
#main .inner .find_wrapper {
  margin-top: 2em;
}
@media screen and (max-width: 520px) {
  #main .inner .sorted_coin {
    width: 100%;
  }
}
#main .inner .result .line-tittle-wrap {
  margin: 1em auto;
}
#main .inner .result .value-term {
  display: inline;
  font-weight: 100;
  color: #b7996d;
  font-size: 150%;
  margin: 1em auto;
}
#main .inner .result .line-tittle {
  display: inline;
  font-size: 150%;
  margin-left: 0.5em;
}
#main .inner .result .block-expandable {
  overflow: hidden;
  max-height: 10000px;
  transition: max-height 1s ease-in-out;
}
#main .inner .result .info_text_block {
  padding: 1em;
  overflow: hidden;
  max-height: 10000px;
  transition: max-height 1s ease-in-out;
}
#main .inner .result .text-block-separator {
  width: 80%;
  height: 2em;
  margin: 0 auto;
  margin-top: 1em;
  position: relative;
  border-top: 1px solid #aaaaaa;
  border-image-slice: 1;
  border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #aaaaaa 25%, #aaaaaa 75%, rgba(255, 255, 255, 0) 100%);
  cursor: pointer;
}
#main .inner .result .separator-arrow {
  background: url('../../assets/images/arrow.svg') no-repeat bottom center;
  background-size: contain;
  transform: rotate(90deg);
  width: 20%;
  height: 40px;
  margin: 0 auto;
}
#main .inner .result .contracted-block {
  max-height: 200px;
}
#main .golden-separator {
  width: 100%;
  background-color: #b7996d;
  height: 2px;
  border-radius: 0 0 5px 5px;
}
@media screen and (max-width: 736px) {
  #main {
    width: 95%;
  }
}
#footer {
  background-color: #333333;
  padding: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  color: #b7996d;
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
  visibility: visible;
}
#footer.hidded {
  opacity: 0;
  visibility: hidden;
}
#footer > section {
  width: 100%;
  text-align: center;
}
#footer > section h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: initial;
  font-variant: small-caps;
  letter-spacing: 0.5em;
  font-size: 2.25em;
}
#footer .inner ul {
  display: block;
  color: #ffffff !important;
}
#footer .inner ul.copyright {
  justify-content: center;
  align-items: baseline;
  margin-top: 0.8em;
  margin-bottom: 1em;
  opacity: 0.8;
  font-size: 0.9em;
  padding: 1em;
  padding-bottom: 0;
  padding-top: 0;
}
#footer .inner ul.copyright .logo_dedalo {
  height: 1.15em;
  vertical-align: text-bottom;
}
@media (max-width: 842px) {
  #footer .inner ul.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #footer .inner .copyright li {
    line-height: 1;
    line-height: inherit;
    text-align: center;
  }
}
.hide {
  display: none !important;
}
.hide_opacity {
  opacity: 0 !important;
}
.uri {
  color: #b7996d;
}
.go_to_dedalo {
  text-decoration: none;
  color: #e68214;
}
.go_to_dedalo:after {
  content: " ";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  vertical-align: text-top;
  background-image: url('../../assets/images/dedalo_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.15em;
}
.debug_info {
  font-size: 0.65em;
  border-left: 4px solid #ff9632;
  padding-left: 0.5em;
  word-break: break-all;
  position: relative;
}
.debug_info:before {
  content: "DEBUG";
  height: 1em;
  transform: rotate(270deg);
  position: absolute;
  left: -40px;
  top: 18px;
  font-size: 11px;
  letter-spacing: 3px;
}
.wide,
.full_width {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.spinner_svg {
  max-height: 200px;
}
a.image_link {
  text-decoration: none;
  border: none;
  width: 100%;
  height: 100%;
}
a.image_link img {
  border-radius: initial;
}
.icon_link {
  margin-left: 1em;
}
.icon_link:before {
  content: " ";
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
  background-image: url("../../assets/images/icon_link_color.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.line_full {
  width: 100%;
  flex-basis: 100%;
  display: inherit;
}
.big_label {
  font-size: 1em;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-block;
  background-color: #b7996d;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
  color: #fff;
  margin: 1em;
  margin-top: 1.5em;
  margin-left: 0;
  padding: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  margin-bottom: -0.01em;
}
.float-prompt {
  position: fixed;
  top: 100px;
  background-color: #333333;
  display: flex;
  flex-flow: column;
  padding: 2em;
  padding-top: 1em;
  border-radius: 5px;
  box-shadow: 8px 8px 10px 0px rgba(180, 180, 180, 0.8);
  max-width: 600px;
}
@media screen and (max-width: 736px) {
  .float-prompt {
    width: 90%;
    left: 5% !important;
  }
}
.float-prompt .close-buttom {
  display: inline-block;
  background-image: url("../../assets/images/close.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  height: 2.3em;
  cursor: pointer;
  width: 10%;
  position: absolute;
  right: 1em;
  top: 0.5em;
}
.float-prompt .prompt-description {
  margin: 0.5em 0;
  padding: 0.5em;
  background-color: #cccccc;
  border-radius: 5px;
}
.float-prompt .prompt-label {
  width: auto;
  float: left;
  display: inline-block;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding-bottom: -1em;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 125%;
}
.float-prompt a {
  display: block;
  padding: 0.2em;
  padding-bottom: 0;
  margin-bottom: 0.2em;
}
.poptrox-popup .pic {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
.poptrox-popup .pic > img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
  padding: 1em;
  padding-left: 80px;
  padding-right: 80px;
}
.no_results_found {
  padding: 1em;
  padding-left: 0;
  padding-top: 0;
  font-weight: 600;
  color: #b7996d;
  font-size: 1.2em;
}
.search_icon {
  height: 1em;
  opacity: 0.5;
  float: right;
  cursor: pointer;
  padding: 0.15em;
  position: relative;
  bottom: -0.25em;
}
.search_icon:hover {
  opacity: 1;
}
.search_icon:active {
  opacity: 0.2;
}
.export_data_container {
  text-align: right;
  width: 100%;
  padding-bottom: 2em;
  padding-top: 5em;
  padding-right: 0;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  font-size: 1em;
}
.export_data_container.on_item {
  padding: 2.5em;
}
@media screen and (max-width: 760px) {
  .export_data_container {
    justify-content: space-evenly;
  }
}
.export_data_container .export_container {
  position: relative;
}
.export_data_container .export_container:first-of-type {
  margin-right: 1em;
}
@media screen and (max-width: 842px) {
  .export_data_container .export_container:first-of-type {
    margin-right: unset;
  }
}
input[type=button].btn.button_download {
  background-color: transparent;
  color: #be875a !important;
  height: 3em;
  background-image: url(../../assets/images/icon_download_white.svg);
  background-repeat: no-repeat;
  background-size: 1.6em;
  background-position: 0.75em center;
  padding-left: 3em;
  padding-right: 1em;
  line-height: 3em;
  font-size: 0.85em;
  font-weight: 200;
  letter-spacing: 2px;
  margin: 15px;
  opacity: 1;
  transition: opacity 0.3s;
}
input[type=button].btn.button_download:hover {
  background-color: #f5f5f5;
}
input[type=button].btn.button_download.unactive {
  opacity: 0.4;
  pointer-events: none;
}
.legend_box {
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  margin: 0;
  position: relative;
  color: #000000;
  font-weight: 400;
}
.legend_box span {
  white-space: nowrap;
}
.legend_box.small {
  font-size: 16px !important;
  line-height: 16px;
}
.legend_box.small img {
  height: 16px;
  vertical-align: text-bottom;
}
.legend_box.median {
  font-size: 28px !important;
  line-height: 28px;
}
.legend_box.median img {
  height: 28px;
}
.legend_box.big {
  font-size: 64px !important;
  line-height: 64px;
}
.legend_box.big img {
  height: 64px;
}
.legend_box.huge {
  font-size: 128px !important;
  line-height: 128px;
}
.legend_box.huge img {
  height: 128px;
}
@media print {
  .print_hide {
    display: none !important;
  }
}
/*# sourceMappingURL=page.css.map */