.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination > * {
  flex: 2;
}
.pagination > .navigator {
  display: -moz-inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  list-style: none;
  margin: 0 0 2rem 2px;
  padding: 0;
}
.pagination > .navigator a,
.pagination > .navigator span,
.pagination > .navigator li {
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: solid 1px #cecbcb;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 900;
  height: 3rem;
  letter-spacing: 0.075em;
  line-height: calc(3rem - 4px);
  min-width: 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .pagination > .navigator a,
  .pagination > .navigator span,
  .pagination > .navigator li {
    font-size: 0.9rem;
  }
}
.pagination > .navigator a,
.pagination > .navigator li {
  color: #212931 !important;
}
.pagination > .navigator a:hover,
.pagination > .navigator li:hover {
  color: #0e71b4 !important;
  border-color: #0e71b4;
  z-index: 1;
}
.pagination > .navigator a:hover + a,
.pagination > .navigator a:hover + span {
  border-left-color: #0e71b4;
}
.pagination > .navigator a.selected {
  background-color: #eeeeee;
}
.pagination > .navigator a.unactive,
.pagination > .navigator li.unactive {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.pagination > .navigator span {
  color: #eeeeee;
}
.pagination > .navigator .next,
.pagination > .navigator .previous {
  text-decoration: none;
  padding: 0 1.75rem;
}
.pagination > .navigator .next:after,
.pagination > .navigator .previous:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  display: inline;
  color: inherit !important;
}
.pagination > .navigator .previous:before {
  content: '\f104';
  margin-right: 0.9375em;
}
.pagination > .navigator .next:after {
  content: '\f105';
  margin-left: 0.9375em;
}
.pagination > .spacer {
  flex: 1 1;
}
.pagination > .totals {
  text-align: right;
  padding: 0.25em;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwIYqaqE.ttf) format('truetype');
}
.font_logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.065em;
}
.content p strong {
  font-size: 1.25em;
}
p img.svg {
  vertical-align: middle;
}
#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
#wrapper #main {
  flex: 1 0 auto;
  min-height: 50vh;
}
#wrapper #footer {
  flex-shrink: 0;
}
#wrapper {
  background-image: url('../../assets/images/overlay_white.png');
}
#header {
  padding-top: 2em;
}
#header > .inner > div.logo_big {
  text-align: center;
  margin-bottom: 1.8em;
}
#header > .inner > div.logo_big img {
  height: 23em;
}
#header > .inner > a.logo > .symbol {
  display: flex;
  align-items: center;
  padding: 0.75em;
  background-color: #585858;
  border-radius: 5px;
}
#header > .inner > a.logo > .symbol > img {
  height: 5em;
}
#header > .inner > a.logo > .symbol > .title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.065em;
  font-size: 2.25em;
  color: #be875a;
  padding-left: 1em;
}
#main .inner > h1 {
  font-variant: small-caps;
  color: #4c4430;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 2.8em;
  margin-bottom: 0.5em;
}
#footer > section {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: #e6e6e6;
}
#footer .inner h2 {
  text-transform: initial;
  font-variant-caps: small-caps;
}
#footer .inner ul {
  color: #ffffff !important;
}
.hide {
  display: none !important;
}
.go_to_dedalo {
  text-decoration: none;
  color: #e68214;
}
.go_to_dedalo:after {
  content: " ";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  vertical-align: text-top;
  background-image: url('../../assets/images/dedalo_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.15em;
}
.wide {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.spinner_svg {
  max-height: 200px;
}
/*# sourceMappingURL=page.css.map */