// Variables
	@assets_path: "../../assets";
	@fonts_path: "@{assets_path}/fonts";
	@page_path : "../../page";

// Usage library
	@import "@{page_path}/css/library.less";



// import files
	@import 'pagination.less';
	@import 'poptrox.less';



// Usage library
	//@import "@{assets_path}/css/library.less";



// fonts

	// Montserrat | Varela Round
		// @import url('https://fonts.googleapis.com/css?family=Montserrat:700|Varela+Round&display=swap');

	// Raleway
		// @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400&display=swap');
		@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

		.font_logo {
			font-family: 'Raleway', sans-serif;
			font-weight: 300;
			font-variant: small-caps;
			letter-spacing: 0.065em;
		}

	// san_francisco_displayregular
		// @font-face {
		// 	font-family: 'san_francisco_displayregular';
		// 	src: url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.eot');
		// 	src: url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
		// 		 url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
		// 		 url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.woff') format('woff'),
		// 		 url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.ttf') format('truetype'),
		// 		 url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.svg#san_francisco_displayregular') format('svg');
		// 	font-weight: normal;
		// 	font-style: normal;
		// }
		// // font mixin default
		// .font_default {
		// 	font-family: "san_francisco_displayregular", sans-serif;
		// }
		// .font_default_bold {
		// 	font-family: "san_francisco_displayregular", sans-serif;
		// 	font-weight: bold;
		// }

	// Barlow Semi Condensed
		// //@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500|Barlow+Semi+Condensed');
		// @font-face {
		// 	font-family: 'Barlow Semi Condensed';
		// 	src: url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.eot');
		// 	src: url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.eot?#iefix') format('embedded-opentype'),
		// 		 //url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.woff2') format('woff2'),
		// 		 url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.woff') format('woff'),
		// 		 url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.ttf') format('truetype'),
		// 		 url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.svg#san_francisco_displayregular') format('svg');
		// 	font-weight: normal;
		// 	font-style: normal;
		// }
		// // font mixin secondary
		// .font_secondary {
		// 	font-family: "Barlow Semi Condensed", sans-serif;
		// }
		// .font_secondary_bold {
		// 	font-family: "Barlow Semi Condensed", sans-serif;
		// 	font-weight: bold;
		// }



// reset css
	//@import "@{assets_path}/css/reset.less";



// font awesome
	//@import "@{assets_path}/css/font-awesome.min.css";



// page globals
	body {
		//.font_default;
	}
	h1 {
		// .font_default_bold;
	}
	a {
		&:hover {
			//color: #0c73b4 !important;  // blue
		}
	}
	strong  {
		.content p & {
			font-size: 1.25em;
		}
	}
	p img.svg {
		vertical-align: middle;
	}



// maintain footer at bottom
	// flex way
		// #wrapper {
		// 	min-height: 100vh;
		// 	display: flex;
		// 	flex-direction: column;
		// 	#main {
		// 		flex: 1 0 auto;
		// 		min-height: 50vh;
		// 	}
		// 	#footer {
		// 		flex-shrink: 0;
		// 	}
		// }
	// grid way
		// html {
		//  height: 100%;
		// }
		// body {
		//  min-height: 100%;
		//  display: grid;
		//  grid-template-rows: 1fr auto;
		// }
		// #footer {
		//  grid-row-start: 2;
		//  grid-row-end: 3;
		// }



// wrapper
	#wrapper {
		//padding: 0;
		//max-width: 1490px;
		//margin-left: auto;
		//margin-right: auto;
		//height: 100%;
		//position: relative;
		background: white;
		background-image: url('../../assets/images/overlay_white.png');

		section.content {
			min-height: 31vh;
		}
	}



// header
	#header {
		// padding-top: 2em;		

		>.head_inner {

			>div.logo_big {
				text-align: center;
				margin-bottom: 1.8em;
				img {
					height: 23em;
				}
			}

			>a.logo {

				>.symbol {
					display: flex;
					align-items: center;
					padding: .75em;
					background-color: #333333;
					// border-radius: 5px;

					>img {
						height: 5em;
					}
					>.title {
						// color: darken(#be875a, 8%);
						// font-family: 'Montserrat', sans-serif;
						// font-family: 'Varela Round', sans-serif;
						.font_logo;
						font-size: 2.25em;
						color: #B7996D;
						padding-left: 1em;
					}
				}
			}//end a.logo
		}
	}



// main
	#main {
		display: table;
		width: 100%;	

		.inner {

			>h1 {
				font-variant: small-caps;
				color: rgb(76, 68, 48);
				letter-spacing: 0.05em;
				font-weight: 300;
				font-size: 2.8em;
				margin-bottom: 0.5em;
			}
		}
	}



// footer
	#footer {
		//color: #ffffff !important;
		background-color: @color_grey_dark;
		//background-image: url(../../assets/images/overlay.png);
		padding: 6em 0 6em 0;
		color: @color_gold_logo;

		>section {
			width: 100%;
			text-align: center;			

			h2 {
				font-family: 'Raleway', sans-serif;
				font-weight: 300;
				text-transform: initial;
				font-variant: small-caps;
				// letter-spacing: 0.065em;
				letter-spacing: 0.5em;
				font-size: 2.25em;
			}
		}

		.inner {

			

			ul {
				color: #ffffff !important;

				>li {
					// filter: sepia(100%) saturate(0%) brightness(80%) hue-rotate(0deg);
					filter: sepia(100%) saturate(100%) brightness(71%) hue-rotate(-7deg);
					opacity: 0.75;

					transition: all 0.35s linear;
					&:hover {
						filter: initial;
						opacity: 1;
					}
				}
			}
		}

	}//end #footer



// hide
	.hide {
		display: none !important;
	}
	.hide_opacity {
		opacity: 0 !important;		
	}



// uri
	.uri {
		color: @color_gold_logo;
	}


// go_to_dedalo
	.go_to_dedalo {
		text-decoration: none;
		color: #e68214;

		&:after {
			content: " ";
			display: inline-block;
			width: 0.75em;
			height: 0.75em;
			vertical-align: text-top;
			background-image: url('../../assets/images/dedalo_icon.svg');
			background-repeat: no-repeat;
			background-size: contain;
			margin-left: 0.15em;
		}
	}



// wide, full_width
	.wide, .full_width {
		width: 100vw;
		margin-left: calc(-50vw + 50%);
		margin-right: calc(-50vw + 50%);
	}



// spinner
	.spinner_svg {
		max-height: 200px;
	}


// image_link
	a.image_link {
		text-decoration: none;
		border: none;
		width: 100%;
		height: 100%;
		// position: absolute;

		img {
			border-radius: initial;
		}
	}


// map_container
	.map_container {
		position: relative;
		height: 60vh;
		font-size: 1rem;
		margin-bottom: 3em;
		background-color: @blue_ocean;
		border-top: 1px solid #dcdcdc;
		border-bottom: 1px solid #dcdcdc;
		transition: opacity 0.5s ease-in-out 0.5s;
	}



// popup_item (map)
	.popup_item {

		>.text_title {
			font-size: 1.15em;
			padding-bottom: 0.5em;
			font-weight: 500;
		}

		>.text_description {
			max-height: 14em;
			overflow-y: auto;
			padding-right: 0.5em;
		}
	}






