.pagination {
  display: flex;
  flex-wrap: wrap;
}
.pagination > * {
  flex: 2;
}
.pagination > .navigator {
  display: -moz-inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  list-style: none;
  margin: 0 0 2rem 2px;
  padding: 0;
}
.pagination > .navigator a,
.pagination > .navigator span,
.pagination > .navigator li {
  -moz-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  border: solid 1px #cecbcb;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 900;
  height: 3rem;
  letter-spacing: 0.075em;
  line-height: calc(3rem - 4px);
  min-width: 3rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 980px) {
  .pagination > .navigator a,
  .pagination > .navigator span,
  .pagination > .navigator li {
    font-size: 0.9rem;
  }
}
.pagination > .navigator a,
.pagination > .navigator li {
  color: #212931 !important;
}
.pagination > .navigator a:hover,
.pagination > .navigator li:hover {
  color: #0e71b4 !important;
  border-color: #0e71b4;
  z-index: 1;
}
.pagination > .navigator a:hover + a,
.pagination > .navigator a:hover + span {
  border-left-color: #0e71b4;
}
.pagination > .navigator a.selected {
  background-color: #eeeeee;
}
.pagination > .navigator a.unactive,
.pagination > .navigator li.unactive {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.pagination > .navigator span {
  color: #eeeeee;
}
.pagination > .navigator .next,
.pagination > .navigator .previous {
  text-decoration: none;
  padding: 0 1.75rem;
}
.pagination > .navigator .next:after,
.pagination > .navigator .previous:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
  display: inline;
  color: inherit !important;
}
.pagination > .navigator .previous:before {
  content: '\f104';
  margin-right: 0.9375em;
}
.pagination > .navigator .next:after {
  content: '\f105';
  margin-left: 0.9375em;
}
.pagination > .spacer {
  flex: 1 1;
}
.pagination > .totals {
  text-align: right;
  padding: 0.25em;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEooCP.ttf) format('truetype');
}
.font_logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.065em;
}
.content p strong {
  font-size: 1.25em;
}
p img.svg {
  vertical-align: middle;
}
#wrapper {
  background: white;
  background-image: url('../../assets/images/overlay_white.png');
}
#header > .head_inner > div.logo_big {
  text-align: center;
  margin-bottom: 1.8em;
}
#header > .head_inner > div.logo_big img {
  height: 23em;
}
#header > .head_inner > a.logo > .symbol {
  display: flex;
  align-items: center;
  padding: 0.75em;
  background-color: #333333;
}
#header > .head_inner > a.logo > .symbol > img {
  height: 5em;
}
#header > .head_inner > a.logo > .symbol > .title {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-variant: small-caps;
  letter-spacing: 0.065em;
  font-size: 2.25em;
  color: #B7996D;
  padding-left: 1em;
}
#main {
  display: table;
  width: 100%;
}
#main .inner > h1 {
  font-variant: small-caps;
  color: #4c4430;
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 2.8em;
  margin-bottom: 0.5em;
}
#footer > section {
  width: 100%;
  text-align: center;
  font-size: 2em;
  font-weight: 400;
  color: #e6e6e6;
}
#footer .inner h2 {
  text-transform: initial;
  font-variant-caps: small-caps;
}
#footer .inner ul {
  color: #ffffff !important;
}
.hide {
  display: none !important;
}
.hide_opacity {
  opacity: 0 !important;
}
.go_to_dedalo {
  text-decoration: none;
  color: #e68214;
}
.go_to_dedalo:after {
  content: " ";
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  vertical-align: text-top;
  background-image: url('../../assets/images/dedalo_icon.svg');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0.15em;
}
.wide,
.full_width {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}
.spinner_svg {
  max-height: 200px;
}
a.image_link {
  text-decoration: none;
  border: none;
  width: 100%;
  height: 100%;
}
a.image_link img {
  border-radius: initial;
}
.poptrox-overlay {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.poptrox-popup {
  background: rgba(31, 34, 36, 0.925);
  box-shadow: 0 1em 3em 0.5em rgba(0, 0, 0, 0.25);
  cursor: default;
}
.poptrox-popup:before {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 1;
}
.poptrox-popup .closer {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: url("../../assets/images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 3em;
  width: 4em;
  height: 4em;
  opacity: 0;
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  z-index: 2;
}
.poptrox-popup .nav-previous,
.poptrox-popup .nav-next {
  -moz-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  background-image: url("../../assets/images/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5em;
  cursor: pointer;
  height: 8em;
  margin-top: -4em;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 4em;
  z-index: 2;
}
.poptrox-popup .nav-previous {
  -moz-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 0;
}
.poptrox-popup .nav-next {
  right: 0;
}
.poptrox-popup .caption {
  padding: 2em 2em 0.1em 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  bottom: 0;
  cursor: default;
  left: 0;
  position: absolute;
  text-align: left;
  width: 100%;
  z-index: 2;
  background-color: #000000d9;
  color: #ffffff;
  max-height: 4.8em;
  overflow: auto;
}
.poptrox-popup .caption h2,
.poptrox-popup .caption h3,
.poptrox-popup .caption h4,
.poptrox-popup .caption h5,
.poptrox-popup .caption h6 {
  margin: 0 0 0.5em 0;
}
.poptrox-popup .caption p {
  color: #ffffff;
}
.poptrox-popup .loader {
  -moz-animation: spinner 1s infinite linear !important;
  -webkit-animation: spinner 1s infinite linear !important;
  -ms-animation: spinner 1s infinite linear !important;
  animation: spinner 1s infinite linear !important;
  background-image: url("../../assets/images/spinner_2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 2em;
  height: 2em;
  left: 50%;
  line-height: 2em;
  margin: -1em 0 0 -1em;
  opacity: 0.25;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 2em;
}
.poptrox-popup:hover .closer,
.poptrox-popup:hover .nav-previous,
.poptrox-popup:hover .nav-next {
  opacity: 0.7;
  background-color: #2424248f;
}
.poptrox-popup:hover .closer:hover,
.poptrox-popup:hover .nav-previous:hover,
.poptrox-popup:hover .nav-next:hover {
  opacity: 1;
}
.poptrox-popup.loading:before {
  opacity: 0;
}
body.touch .poptrox-popup .closer,
body.touch .poptrox-popup .nav-previous,
body.touch .poptrox-popup .nav-next {
  opacity: 1 !important;
}
@media screen and (max-width: 980px) {
  .poptrox-popup .closer {
    background-size: 3em;
  }
  .poptrox-popup .nav-previous,
  .poptrox-popup .nav-next {
    background-size: 4em;
  }
}
@media screen and (max-width: 736px) {
  .poptrox-popup:before {
    display: none;
  }
  .poptrox-popup .caption {
    display: none !important;
  }
  .poptrox-popup .closer,
  .poptrox-popup .nav-previous,
  .poptrox-popup .nav-next {
    display: none !important;
  }
}
/*# sourceMappingURL=page.css.map */