// Variables
	@assets_path: "../../assets";
	@fonts_path: "@{assets_path}/fonts";

// Usage library
	//@import "@{assets_path}/css/library.less";

// fonts
	/*
	// san_francisco_displayregular
		@font-face {
			font-family: 'san_francisco_displayregular';
			src: url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.eot');
			src: url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
				 url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.woff2') format('woff2'),
				 url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.woff') format('woff'),
				 url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.ttf') format('truetype'),
				 url('@{fonts_path}/san_francisco_web/sanfranciscodisplay-regular-webfont.svg#san_francisco_displayregular') format('svg');
			font-weight: normal;
			font-style: normal;
		}
		// font mixin default
		.font_default {
			font-family: "san_francisco_displayregular", sans-serif;
		}
		.font_default_bold {
			font-family: "san_francisco_displayregular", sans-serif;
			font-weight: bold;
		}

	// Barlow Semi Condensed
		//@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:500|Barlow+Semi+Condensed');	
		@font-face {
			font-family: 'Barlow Semi Condensed';
			src: url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.eot');
			src: url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.eot?#iefix') format('embedded-opentype'),
				 //url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.woff2') format('woff2'),
				 url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.woff') format('woff'),
				 url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.ttf') format('truetype'),
				 url('@{fonts_path}/Barlow_Condensed/BarlowCondensed-Light.svg#san_francisco_displayregular') format('svg');
			font-weight: normal;
			font-style: normal;
		}
		// font mixin secondary
		.font_secondary {
			font-family: "Barlow Semi Condensed", sans-serif;
		}
		.font_secondary_bold {
			font-family: "Barlow Semi Condensed", sans-serif;
			font-weight: bold;
		}
		*/
 
// reset css
	//@import "@{assets_path}/css/reset.less";

// font awesome
	//@import "@{assets_path}/css/font-awesome.min.css";

// page globals
	body {
		//.font_default;
	}
	h1 {
		// .font_default_bold;		
	}
	a {

		&:hover {
			//color: #0c73b4 !important;  // blue
		}
	}
	strong  {

		.content p & {
			font-size: 1.25em;	
		}		
	}
	p img.svg {
		vertical-align: middle;
	}



// maintain footer at bottom
	// flex way
		#wrapper {
			min-height: 100vh;
			display: flex;
			flex-direction: column;	
			#main {
				flex: 1 0 auto;
				min-height: 50vh;
			}
			#footer {
				flex-shrink: 0;
			}
		}
	// grid way
		//html {
		//  height: 100%;
		//}
		//body {
		//  min-height: 100%;
		//  display: grid;
		//  grid-template-rows: 1fr auto;
		//}
		//#footer {
		//  grid-row-start: 2;
		//  grid-row-end: 3;
		//}



// wrapper
	#wrapper {
		//padding: 0;
		//max-width: 1490px;
		//margin-left: auto;
		//margin-right: auto;
		//height: 100%;
		//position: relative;
		background-image: url('../../assets/images/overlay_white.png');	
	}





// header 
	#header {

		padding-top: 4em;

		.inner {

			.logo .symbol img {
			    display: block;
			    width: auto;
			    height: 14em;
			    position: relative;
			    top: 5px;
			}

			.title {
				font-size: 2em;
				color: black;
			}
		}
	}


// main
	#main {

		.inner {

			>h1 {
				font-variant: small-caps;
				color: rgb(76, 68, 48);
				letter-spacing: 0.05em;
				font-weight: 300;
				font-size: 2.8em;
				margin-bottom: 0.5em;
			}
		}
	}



// footer
	#footer {
		//color: #ffffff !important;
		//background-color: rgb(76, 68, 48);
		//background-image: url(../../assets/images/overlay.png);

		.inner {

			h2 {
				text-transform: initial;
				font-variant-caps: small-caps;
			}

			ul {
				color: #ffffff !important;
			}
		}
		
		

		
	}





