// Variables
	@assets_path: "../../assets";
	@fonts_path: "@{assets_path}/fonts";
	@page_path : "../../page";

// Usage library
	@import "@{page_path}/css/library.less";



// search_form
	// form {

	// 	.form-group.field_operators {
	// 		float: right;
	// 		// background-color: #e1c96e;
	// 		text-align: right;
	// 		margin-right: -2.5em;
	// 	}
	// }



// result
	.result {

		.image {
			height: 6em;

			@media screen and (max-width: 736px){
				height: 8em;
			}

		}
	}



// rows_container
	.rows_container {
		margin-bottom:2em;

		.icon_link {
			margin-left: 0.4em
		}

		.name {
			font-variant: small-caps;
			letter-spacing: 1px;
			font-size:130%;
		}

		.row_wrapper {
			border-bottom: 1px solid #ddd;
			margin-bottom: 1em;
			padding-top: 1em;
			padding-left: 0;
			padding-right: 0;
			display: grid;
			grid-template-columns: 1.2fr 2fr;

			@media screen and (max-width: 625px) {
				display: block;
			}

			// map_wrapper
			>.map_wrapper {
				width: 100%;
				min-width: 22rem;
				height: 18rem;
				background-color: #c3e3fe;
				outline: 1px solid #dddddd;

				.leaflet-container {
					width: 100%;
					height: 100%;
					padding: 0;
					margin: 0;
				}
			}

			>.info_wrap {
				padding-left: 1.5rem;
				// background-color: #b1f1d6;

				// title_wrap
				>.title_wrap {
					margin-bottom: 1em;
				}


				// info_text_wrap
				>.info_text_wrap {
					font-weight: 100;
					font-size: 1.1rem;
				}
			}
		}

		.row_wrapper:last-child {
			border-bottom: none;
		}
	}//end .rows_container
