.button_icon_simple {
  background-repeat: no-repeat;
  background-position: center center;
  width: 1em;
  height: 1em;
  cursor: pointer;
  background-size: contain;
  opacity: 0.7;
}
.button_icon_simple:active {
  opacity: 0.5;
}
.button_icon_simple:hover {
  opacity: 1;
}
#main {
  height: 100vh;
  min-height: 100vh;
  display: table;
}
.result a.section_id {
  float: right;
}
.result > div {
  margin-bottom: 2em;
}
.result .row_wrapper .info_line.inline {
  display: inline-block;
}
.result .row_wrapper .breadcrumb.mints {
  font-variant: small-caps;
  font-size: 1.2em;
}
.result .row_wrapper .identify_coin {
  font-size: 0.9em;
  padding-right: 1em;
}
.result .row_wrapper .identify_coin .icon_link {
  padding-right: 1em;
  margin-left: 0;
}
.result .row_wrapper .find_wrapper div:first-child {
  font-weight: bold;
}
.result .row_wrapper div.ref_coins_image_obverse,
.result .row_wrapper div.ref_coins_image_reverse {
  width: 16em;
  height: 15em;
  margin: 0;
  margin-top: 1em;
  position: relative;
}
.result .row_wrapper div.ref_coins_image_obverse > a > img,
.result .row_wrapper div.ref_coins_image_reverse > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
  background-color: #ffffff;
  border-radius: initial;
}
.result .row_wrapper .id_line {
  font-size: 1.2em;
  margin-top: 1em;
}
.result .row_wrapper .catalogue {
  font-weight: 600;
}
.result .row_wrapper .info_value {
  padding-right: 0.25em;
}
.result .row_wrapper .design_obverse,
.result .row_wrapper .symbol_obverse,
.result .row_wrapper .legend_obverse,
.result .row_wrapper .design_reverse,
.result .row_wrapper .symbol_reverse,
.result .row_wrapper .legend_reverse {
  padding-left: 2em;
}
.result .row_wrapper .legend_obverse .info_value,
.result .row_wrapper .legend_reverse .info_value {
  display: block;
  font-size: 32px !important;
  font-weight: 400;
  color: black;
  line-height: 32px;
  height: 32px;
}
.result .row_wrapper .legend_obverse .info_value span,
.result .row_wrapper .legend_reverse .info_value span {
  text-indent: 0;
}
.result .row_wrapper .legend_obverse .info_value > img,
.result .row_wrapper .legend_reverse .info_value > img {
  height: 100%;
  position: relative;
  top: 6px;
}
.result .row_wrapper .public_info {
  margin-top: 1em;
  margin-bottom: 1em;
}
.result .row_wrapper .equivalents {
  font-size: 0.8em;
}
.result .row_wrapper .medium_label {
  font-size: 1.5em;
  margin-top: 1em;
}
.result .row_wrapper .find_coins {
  display: flex;
  flex-wrap: wrap;
}
.result .row_wrapper .find_coins .find_coin:last-child {
  border-bottom: none;
}
.result .row_wrapper .find_coins .find_coin {
  flex: 0 0 32%;
  grid-template-columns: 36% auto;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
  font-size: 75%;
  border-bottom: 1px solid #e3e3e3;
  padding: 0.5em;
  border-radius: 4px;
}
.result .row_wrapper .find_coins .find_coin .images_wrapper,
.result .row_wrapper .find_coins .find_coin .info_wrapper {
  flex: 0 0 50%;
}
.result .row_wrapper .find_coins .find_coin .images_wrapper {
  background-color: #ffffff;
}
.result .row_wrapper .find_coins .find_coin .images_wrapper img {
  width: 50%;
  height: 200px;
  object-fit: contain;
  object-position: center;
  background-color: white;
}
.result .row_wrapper .find_coins .find_coin .info_wrapper {
  padding: 0.5em;
  padding-left: 1em;
}
@media screen and (max-width: 590px) {
  .result .row_wrapper .find_coins .find_coin {
    display: inherit;
    display: block;
    width: 95%;
    flex: inherit;
  }
}
.result .row_wrapper .bibliographic_reference {
  margin-top: 1px;
  color: #ab6438;
  list-style: circle;
  text-indent: -1em;
  padding-left: 1em;
}
/*# sourceMappingURL=type.css.map */