// Variables
	@assets_path: "../../assets";
	@fonts_path: "@{assets_path}/fonts";
	@page_path : "../../page";

// Usage library
	@import "@{page_path}/css/library.less";



#main {
	height: 100vh;
	min-height: 100vh;
	display: table;
}



.result {

	a.section_id {
		float: right;
	}

	>div {
		margin-bottom: 2em;
		// background-color: #fffc9f;
	}

	// .row_wrapper
	.row_wrapper {
		// font-size: 1.15em;

		.sides_wrapper{
			display:flex;
			flex-flow:row;
			max-width: 1000px;
			margin: auto;
			margin-top: 1em;
			align-content: space-between;

			.obverse_wrapper {
				width: 50%;
			}

			.reverse_wrapper {
				width: 50%;
			}
		}

		.info_line {
			&.inline {
				display: inline-block;
			}
		}

		.breadcrumb{
			&.mints{
				font-variant: small-caps;
				font-size: 1.2em;
			}
		}
		.identify_coin{
			font-size: 0.9em;
			// padding-right: 1em;
			.icon_link{
				padding-right: 1em;
				margin-left:0;
			}
		}

		.find_wrapper {
			*:first-child {
				font-weight: bold;
				color: @color_gold_logo;
			}
			a {
				margin-right: 0.25rem;
			}
		}

		// img {
		// 	vertical-align: bottom;
		// }

		.identify_coin_wrapper {
			align-content: space-between;
			margin: 0 auto;
			max-width: 1000px;
		}


		.ref_coins_image_obverse, .ref_coins_image_reverse {
			width: 50%;
			height: 15em;
			margin: 0;
			margin-top: 1em;
			// margin-bottom: 1em;
			position: relative;
			// background-color: #333333;

			>a {

				>img {
					width: 100%;
					height: 100%;
					object-fit: contain;
					object-position: center center;
					background-color: #ffffff;
					border-radius: initial;
				}
			}
		}



		.id_line {
			font-size: 1.2em;
			margin-top: 1em;
		}
		.catalogue {
			font-weight: 600;
		}
		.info_value {
			padding-right: 0.25em;
			img{
				height: 1em;
				vertical-align: text-bottom;
			}
		}

		.design_obverse, .symbol_obverse, .design_reverse, .symbol_reverse {
			//padding-left: 2em;
			text-align:center;
		}
		.legend_obverse, .legend_reverse{
			// .info_value{
			// 	display: block;
			// 	font-size: 32px !important;
			// 	font-weight: 400;
			// 	color: black;
			// 	// vertical-align: bottom;
			// 	line-height: 32px;
			// 	height: 32px;
			// 	span{
			// 		text-indent: 0;
			// 	}
			// 	>img {
			// 		height: 100%;
			// 		position: relative;
   			//  	top: 6px;
			// 	}
			// }
		}
		.legend_box {
			margin-top: 0.3em;
			text-align: center;
			width: 100%;
		}
		.public_info{
			font-size: 0.9em;
			margin-top: 1em;
			margin-bottom: 1em;
			line-height: 1.4em;
		}
		.countermarks_wrapper{
			display: grid;
			grid-template-columns: 50% 50%;

		}
		.countermark_obverse{
			grid-column: 1
		}
		.countermark_reverse{
			grid-column: 2
		}

		.equivalents {
			font-size: 0.8em;
		}

		.big_label {
			// moved to page.less
		}
		.medium_label {
			font-size: 1.5em;
			margin-top:1em;
		}

		.items_list {
		}

		.typology_coins {
			// moved to page to share use
			// display: flex;
			// flex-wrap: wrap;

			// .sorted_coin:last-child  {
			// 	border-right: none;
			// }
			// /*.sorted_coin:nth-child(3n){
			// // .sorted_coin:last-child(3n)  {
			// 	border-right: none;
			// }*/

			// .sorted_coin {
			// 	width:32%;
			// 	margin-bottom: 0.5em;
			// 	margin-right: 0.5em;
			// 	font-size: 80%;
			// 	border-right: 1px solid rgb(227, 227, 227);
			// 	// background-color: #f6f6f6;
			// 	padding: 0.5em;
			// 	border-radius: 4px;

			// 	.uri-text a{
			// 		@media screen and (min-width: 1680px){
			// 			font-size:90%;
			// 		}
			// 		@media screen and (max-width: 976px){
			// 			font-size:1.4vw;
			// 		}
			// 		@media screen and (max-width: 710px){
			// 			font-size:1.8vw;
			// 		}
			// 		@media screen and (max-width: 590px){
			// 			font-size:3vw;
			// 		}
			// 	}

			// 	.images_wrapper {
			// 		margin-bottom: 0.5em;
			// 		position: relative;

			// 		img {
			// 			width: 50%;
			// 			height: 200px;
			// 			object-fit: contain;
			// 			object-position: center;
			// 			background-color: white;
			// 		}
			// 	}

			// 	@media screen and (max-width: 976px){
			// 		width: 48% !important;
			// 	}

			// 	@media screen and (max-width: 590px){
			// 		flex:inherit;
			// 		width: 95% !important;
			// 		border-right:none;
			// 		margin-top: 1em;

			// 	}

			// 	div {
			// 		//font-size: 120%;
			// 	}
			// }
		}

		// coins in findspot coins list
		.find_coins {
			display: flex;
			flex-wrap: wrap;

			.find_coin:last-child  {
					border-bottom: none;
				}

			.find_coin {
				flex: 0 0 32%;
				// display: flex;font
				grid-template-columns: 36% auto;

				margin-bottom: 0.5em;
				margin-right: 0.5em;
				font-size: 75%;
				border-bottom: 1px solid rgb(227, 227, 227);
				padding: 0.5em;
				border-radius: 4px;

				.images_wrapper, .info_wrapper {
					// margin-bottom: 0.5em;
					flex: 0 0 50%;
				}
				.images_wrapper {
					background-color: #ffffff;

					img {
						width: 50%;
						height: 200px;
						object-fit: contain;
						object-position: center;
						background-color: white;
					}
				}
				.info_wrapper {
					// background-color: #f2f093;
					padding: 0.5em;
					padding-left: 1em;
				}

				@media screen and (max-width: 590px){
					display:inherit;
					display: block;
 					width: 95%;
 					flex:inherit;
				}

				div {
					//font-size: 110%;
				}

			}
		}

		.bibliographic_reference {
			margin-top: 1px;
			color: @color_gold_logo;
			list-style: circle;
			text-indent: -1em;
			padding-left: 1em;
		}

		.map_container {
			// height: 60vh;
		}
	
	}//end row_wrapper


	// mint types list
		// #types {
		// 	// background-color: #3d3d3d;
		// 	padding: 1em;
		// 	// color: white;
		// 	border-radius: 0.25em;
		// 	margin-top: 1em;
		// 	border-radius: 0.25em;
		// 	border: 1px solid #cccccc;

		// 	>.type_row {
		// 		display: table;
		// 		width: 100%;
		// 		border-bottom: 1px solid #ccc;
		// 		padding-bottom: 0.5em;
		// 		margin-bottom: 0.5em;

		// 		>span {
		// 			padding-right: 1em;
		// 		}
		// 		.equivalents {
		// 			display: block;
		// 		}
		// 	}
		// }
}//end result

#type_analytics {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.type_analytics_component {
	width: 25%;
}
.chart_wrapper {
	margin-top: 0.8em;
	width: 80%;
	margin-inline: auto;
}


// update 9-3-2021 paco
	@media screen and (min-width: 960px){
		#main .inner .identify_coin_wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin: 0;
			max-width: unset;
			.ref_coins_image_obverse, .ref_coins_image_reverse {
				width: 55%;
			}
		}
		.result .row_wrapper .sides_wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1em;
			margin: 0;
			max-width: unset;

			.legend_box, .design_obverse, .symbol_obverse, .design_reverse, .symbol_reverse {
				text-align: left;
			}
			.obverse_wrapper, .reverse_wrapper {
				width: 100%;
				>.info_line {
					min-height: 1.5em;
				}
			}
		}

	}

// update 2023-02-02 julian
	@media screen and (max-width: 700px) {
		#type_analytics {
			flex-direction: column;
			justify-content: flex-start;
		}
		.type_analytics_component {
			width: 100%;
		}
		.chart_wrapper {
			width: 45%;
			margin-inline: auto;
			margin-top: 1.4em;
		}
	}
