// Variables
	@assets_path: '../../assets';
	@fonts_path: '@{assets_path}/fonts';
	@page_path : '../../page';

// Usage library
	@import '../../page/css/library';



// main
	#main {
		overflow: hidden;
		padding-bottom: 2rem;
	}



// images
	section.images {
		display: flex;

		a.image {
			margin: auto ;

			img {
				max-width: 100%;
			}
		}
	}

// debug
	.o-red {
		border: 1px solid red;
	}
	.o-blue {
		border: 1px solid blue;
	}
	.o-green {
		border: 1px solid green;
	}
	.o-purple {
		border: 1px solid purple;
	}
