
// main
	#main {
		overflow: hidden;
		padding-bottom: 2rem;

		>.inner {
			min-height: 78vh;

			.result {
				// info_line
				.info_line {
					margin-top: -1em;
					margin-bottom: 2rem;
				}
			}
		}
	}

// Utility
.span_parent_width {
	width: 100%;
}

// debug
	// .o-red {
	// 	border: 1px solid red;
	// }
	// .o-blue {
	// 	border: 1px solid blue;
	// }
	// .o-green {
	// 	border: 1px solid green;
	// }
	// .o-purple {
	// 	border: 1px solid purple;
	// }
	// .o-black {
	// 	border: 1px solid black;
	// }
