// Variables
	@assets_path: "../../assets";
	@fonts_path: "@{assets_path}/fonts";
	@path_page: "../../page"; ;

// Usage library
	// @import "@{path_page}/css/library.less";


#wrapper {
	background-color: #333333;
}



#main {
	background-color: #ffffff;
	padding-top: 2.5em;
	border-radius: 8px;
	margin-bottom: 3em;
}
